@inherits ListComponentBase<Town>
<label>@Label</label>
<select @onchange="OnSelectChanged" class="form-control">
    @if (ItemsChanged)
    {
        <option selected>-- Select a value --</option>
    }
    @foreach (var item in Items)
    {
        <option value="@item.Id">@item.Name</option>
    }
</select>
